.home-navigation {
   margin-top: 24px;
   &__list {
      justify-content: end;
      display: flex;
      gap: 6px;
   }

   &__link {
      height: 38px;
      font-size: 14px;
      white-space: nowrap;
      &.active {
         background-color: $yellow;
         border: 0;
      }
   }
   &.sticky {
      position: fixed;
      top: 108px;
      left: 0;
      width: 100%;
      z-index: 2;
      & + .home-experience {
         padding-top: 62px;
         @media (max-width: 992px) {
            padding-top: 53px;
         }
      }
      @media (max-width: 992px) {
         top: 64px;
      }
   }
   @media (max-width: 992px) {
      &__list {
         margin-left: -10px;
         margin-right: -10px;
         padding-left: 10px;
         padding-right: 10px;
         width: 100vw;
         overflow-x: auto;
         justify-content: start;
         gap: 5px;
         -ms-overflow-style: none;
         scrollbar-width: none;
         // padding-left: 12px;
         // padding-right: 12px;
         &::-webkit-scrollbar {
            display: none;
         }
      }

      &__link {
         height: 29px;
         font-size: 10px;
         white-space: nowrap;
      }
   }
}
