.breadcrumbs {
   margin-top: 24px;
   margin-bottom: 24px;
   &__list {
      display: flex;
      gap: 8px;
      align-items: center;
      li:last-child {
         a:after {
            display: none;
         }
      }
   }
   &__link {
      color: $black;
      font-size: 16px;
      line-height: calc(18 / 16);
      letter-spacing: -0.02em;
      display: flex;
      gap: 8px;
      align-items: center;
      transition: 0.3s;
      @media (hover: hover) {
         &:hover {
            opacity: 0.7;
         }
      }
      &:active {
         opacity: 0.7;
      }
      &::after {
         content: "/";
      }
   }
   @media (max-width: 992px) {
      margin-bottom: 38px;
      &__link {
         font-size: 12px;
      }
   }
}
