.container {
   max-width: 1368px;
   padding-left: 12px;
   padding-right: 12px;
   margin: 0 auto;
   @media (max-width: 992px) {
      padding-left: 10px;
      padding-right: 10px;
   }
}
.wrapper {
   font-family: $onestFont;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   color: $black;
}
.main {
   flex: 1;
   padding-top: 108px;
   @media (max-width: 992px) {
      padding-top: 64px;
   }
}
.h1 {
   font-size: 48px;
   font-weight: 700;
   line-height: calc(57 / 48);
   letter-spacing: -0.03em;
   @media (max-width: 992px) {
      font-size: 24px;
   }
}
.h2 {
   font-size: 36px;
   font-weight: 600;
   line-height: calc(32 / 26);
   letter-spacing: -0.03em;
   @media (max-width: 992px) {
      font-size: 24px;
   }
}
.main-text {
   font-family: $golosFont;
   font-size: 24px;
   font-weight: 500;
   line-height: calc(36 / 24);
   letter-spacing: -0.02em;
   text-align: left;
   @media (max-width: 992px) {
      font-size: 12px;
   }
}
.btn {
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 16px;
   background-color: $white;
   font-family: $golosFont;
   font-size: 16px;
   font-weight: 600;
   line-height: calc(21 / 16);
   letter-spacing: -0.03em;
   color: $black;
   border: 1px solid $black;
   transition: 0.3s;
   height: 54px;
   padding-left: 32px;
   padding-right: 32px;
   @media (hover: hover) {
      &:hover {
         background-color: $yellow;
         border: 1px solid $yellow;
      }
   }
   &:active {
      background-color: $yellow;
      border: 1px solid $yellow;
   }
   &.yellow {
      background-color: $yellow;
      border: 1px solid $yellow;
      @media (hover: hover) {
         &:hover {
            background-color: #ff9c14;
            border: 1px solid #ff9c14;
         }
      }
      &:active {
         background-color: #ff9c14;
         border: 1px solid #ff9c14;
      }
   }
   @media (max-width: 992px) {
      height: 41px;
      padding-left: 24px;
      padding-right: 24px;
      font-size: 12px;
   }
}
.section {
   margin-top: 110px;
   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 44px;
   }
   @media (max-width: 992px) {
      margin-top: 56px;
      &__wrapper {
         gap: 24px;
      }
   }
}
.collapse:not(.collapse_show) {
   display: none;
}

.text-input {
   position: relative;
   font-family: $golosFont;
   font-size: 14px;
   font-weight: 400;
   line-height: calc(24 / 14);
   &.filled {
      label {
         font-size: 10px;
         top: 25%;
      }
   }
   input {
      background-color: $white;
      height: 55px;
      width: 100%;
      border-radius: 12px;
      padding-left: 15px;
      color: $black;
      font-size: 16px;
   }
   label {
      position: absolute;
      top: 50%;
      left: 15px;
      translate: 0 -50%;
      transition: 0.3s;
      color: #7a7a7a;
   }
}
