.section {
   &__wrapper {
   }
}
.cases-section {
   &__wrapper {
   }

   &__title {
   }

   &__content {
   }

   &__filters {
      display: flex;
      gap: 6px;
      label {
         height: 41px;
      }
      input:checked + label {
         background-color: $yellow;
         border: 1px solid $yellow;
      }
      input {
         display: none;
      }
   }

   &__list {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
   }
   &__footer {
      display: flex;
      justify-content: flex-end;
   }
   &__pagination {
      width: fit-content;
      justify-self: flex-end;
   }
}
.case-card {
   display: flex;
   flex-direction: column;
   padding: 24px;
   padding-right: 42px;
   color: $black;
   &__image {
      height: 250px;
      border-radius: 32px;
      overflow: hidden;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__main {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 24px;
      margin-bottom: 36px;
   }

   &__title {
      font-size: 24px;
      font-weight: 600;
      line-height: calc(31 / 24);
      letter-spacing: -0.03em;
   }

   &__subtitle {
      font-family: $golosFont;
      font-size: 16px;
      line-height: calc(24 / 16);
      letter-spacing: -0.03em;
   }

   &__date {
      font-family: $golosFont;
      font-size: 16px;
      font-weight: 500;
      line-height: calc(19 / 16);
      letter-spacing: -0.03em;
      opacity: 0.3;
   }
}
